nav(class="uk-navbar-container" uk-navbar)
	div(class="uk-navbar-left")
		ul(class="uk-navbar-nav")
			li(class='uk-active')
				a &copy 2019
			li(class="uk-parent")
				a(href="/about") about this project
