extends layout.pug

block navbar
	include nav.pug

block title
	title= title

block content
	h4 Welcome
	p Welcome to the Tangsa-Nocte Database project. Please choose an area to browse or edit from the navigation menu above.
	p This is a work in progress. Please be patient with bugs, and report then directly to kellenparker@gmail.com. For any other problems or question, don't hesitate to contact me at that address.

block footer
	include footer.pug
