extends layout.pug

block navbar
	include nav.pug

block title
	title= title

block content
	h4 Welcome
	p Welcome to the Tangsa-Nocte Database project, an effort to collect the majority of data on the Tangsa-Nocte varieties into a single place. Please choose an area to browse or edit from the navigation menu above.
	p This is a work in progress. Please be patient with bugs, and report then directly to <a href="mailto:kellenparker@gmail.com">kellenparker@gmail.com</a>. For any other problems or question, don't hesitate to contact me at that address.
	p The Tangsa-Nocte Database project was developed by Kellen Parker van Dam of <a href=''>Phonemica</a> with funding from _________.

block footer
	include footer.pug
